body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 176px;
  background-color: #dfdfdf;
}

.menuitem {
  flex: 1;
  background-color: #aaaaaa;
  height: 120px;
  width: 100px;
  margin-right: 20px;
}

.logo {
  flex: 1.2;
  background-color: #8d8d8d;
  height: 60px;
  width: 100px;
  margin: 0 20px;
}

.button {
  flex: 0.8;
  background-color: #c0c0c0;
  height: 60px;
  width: 60px;
  margin: 0 20px;
}

.main {
  height: 425px;
  display: flex;
}

.left {
  flex: 1;
  position: relative;
}

.right {
  flex: 1;
  position: relative;
}

.main-title {
  width: 300px;
  height: 80px;
  background-color: #5f5f5f;
  margin: 20px auto;
}

.red {
  position: absolute;
  top: 210px;
  right: 45px;
  width: 200px;
  height: 60px;
  background-color: #bbbbbb;
}

.author {
  position: absolute;
  left: 60px;
  top: 40px;
  width: 260px;
  height: 50px;
  background-color: #bbbbbb;
}

.article {
  position: absolute;
  left: 60px;
  top: 120px;
  width: 560px;
  height: 180px;
  background-color: #999999;
}

.hero {
  height: 530px;
  position: relative;
  background-color: #bbbbbb;
}

.text {
  position: absolute;
  top: 70px;
  left: 150px;
  width: 600px;
  height: 270px;
  background-color: #a3a3a3;
}

.cta {
  position: absolute;
  top: 400px;
  left: 150px;
  width: 300px;
  height: 70px;
  background-color: #424242;
}

.img {
  position: absolute;
  top: -50px;
  right: 120px;
  width: 150px;
  height: 180px;
  background-color: #818181;
}

.latest {
  height: 670px;
  display: flex;
  margin-bottom: 60px;
}

.post {
  flex: 1;
}

.ad {
  flex: 1;
}

.title {
  width: 300px;
  height: 80px;
  background-color: #797979;
  margin: 60px auto;
}

.post-text {
  width: 300px;
  height: 300px;
  background-color: #adadad;
  margin: 60px auto;
}

.banner {
  width: 300px;
  height: 300px;
  background-color: #858585;
  margin: 60px auto;
}

.big-banner {
  flex: 2;
  width: 600;
  height: 600px;
  background-color: #858585;
  margin: 60px;
}

.conf {
  height: 875px;
  background-color: #979797;
  padding: 80px;
}

.conf-title {
  width: 600px;
  height: 80px;
  background-color: #797979;
  margin: 80px auto;
}

.conf-text {
  width: 600px;
  height: 200px;
  background-color: #adadad;
  margin: 60px auto;
}

.conf-cta {
  width: 300px;
  height: 80px;
  background-color: #363636;
  margin: 60px auto;
}

.conf-img {
  width: 500px;
  height: 300px;
  background-color: #838383;
  margin: 60px auto;
}

.person {
  height: 320px;
  display: flex;
  align-items: center;
}

.person-img {
  flex: 1;
}

.person-text {
  flex: 4;
}

.person-img-inner {
  width: 200px;
  height: 200px;
  background-color: #838383;
  margin: auto;
}

.person-text-inner {
  width: 800px;
  height: 200px;
  background-color: #bdbdbd;
  margin-right: 100px;
}
